* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
}
div {
    color: #2f2e2f;
}
/*эта 10ая*/
/*.container {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

/*.elem {*/
/*    transition-duration: .1s;*/
/*    border: 2px solid rgba(0, 255, 127, 0.72);*/
/*    border-radius: 50px;*/
/*    padding: 5px;*/
/*    width: fit-content;*/
/*    position: absolute;*/
/*}*/

/*.anchor {*/
/*    border: 2px solid rgba(0, 255, 127, 0.72);*/
/*    border-radius: 50px;*/
/*    padding: 5px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/

/*11*/
/*input {*/
/*    font-family: "Calibri";*/
/*    padding: 7px;*/
/*    border-radius: 20px;*/
/*    border: 1px solid black;*/
/*    margin-bottom: 10px;*/
/*}*/
/*input:hover {*/
/*    background-color: rgba(255, 255, 255, 0.74);*/
/*    cursor: pointer;*/
/*}*/
/*.task1 {*/
/*    padding: 5px;*/
/*    border-radius: 20px;*/
/*    display: inline-block;*/
/*    margin: 50px 0 0 50px;*/
/*}*/
/*#text {*/
/*    font-family: "Calibri";*/
/*    text-align: center;*/
/*}*/
/*.task2 {*/
/*    margin: 25px 0 0 50px;*/
/*}*/
/*.task3 {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*}*/
/*.field {*/
/*    border: 10px solid black;*/
/*    background-color: rgba(94, 199, 94, 0.92);*/
/*    height: 400px;*/
/*    width: 400px;*/
/*    margin: 0 0 0 500px;*/
/*}*/

/*.ball {*/
/*    transition-duration: .3s;*/
/*    position: absolute;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border-radius: 50px;*/
/*}*/
/*img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*12*/
li {
    margin-top: 30px;
    margin-left: 60px;
}
.selected {
    background-color: #ffe32f;
}
